<div class="row">
	<div class="col s12">
		<h1>Términos de uso</h1>
		<p>Apretaste se entrega gratuitamente para el uso de individuos y entidades. Con el fin de ser más útil y ético, se imponen los siguientes términos de uso:</p>

		<ul class="collection with-header">
			<li class="collection-item avatar"><i class="number circle">1</i> Utilice un email real. Cualquier email detectado como falso será bloqueado permanentemente.</li>
			<li class="collection-item avatar"><i class="number circle">2</i> Todo contenido insertado debe respetar los derechos humanos, las leyes vigentes, la moral y el orden público en Cuba.</li>
			<li class="collection-item avatar"><i class="number circle">3</i> Todo contenido insertado debe respetar la propiedad intelectual. No inserte textos o imágenes de terceros sin previo derecho de divulgación.</li>
			<li class="collection-item avatar"><i class="number circle">4</i> Apretaste no es necesariamente parte de negociaciones, transacciones, ni acuerdos que surjan durante su utilización.</li>
			<li class="collection-item avatar"><i class="number circle">5</i> Los créditos de Apretaste (§) son un sistema de puntos sin representación monetaria.</li>
			<li class="collection-item avatar"><i class="number circle">6</i> Guardamos su información personal con el fin de ofrecer un mejor servicio. Esto puede incluir sus credenciales de Nauta. Su información se guarda encriptada y nunca será compartida con terceros ni vendida.</li>
			<li class="collection-item avatar"><i class="number circle">7</i> En caso de extrema necesidad, podemos usar su cuenta Nauta para responder a otros en Cuba. Puede optar por no compartirla en las opciones de la app.</li>
			<li class="collection-item avatar"><i class="number circle">8</i> Nuestra rifa mensual está catalogada como un "no purchase necessary" sweepstake. Nunca le pediremos dinero para adquirir tickets.</li>
			<li class="collection-item avatar"><i class="number circle">9</i> Todo contenido que viole estos términos de uso puede ser eliminado por el equipo de Apretate sin previa notificación.</li>
			<li class="collection-item avatar"><i class="number circle">10</i> En caso de sospechar de alguna violación a estos términos de uso, usted debe reportarlo a nuestro equipo de soporte al usuario.</li>
			<li class="collection-item avatar"><i class="number circle">11</i> En caso de que estos términos cambien, debe ajustar con prontitud cualquier contenido escrito por usted para seguir cumpliendo con nuestros términos.</li>
			<li class="collection-item avatar"><i class="number circle">12</i> Usando Apretaste de cualquier forma posible, incluso por mediación de terceras personas, afirma estar cumpliendo con estos términos de uso.</li>
		</ul>

		<p>Si usted está en desacuerdo con estos términos de uso, por favor <a href="#!" onclick="apretaste.send({'command':'SUSCRIPCION EXCLUYEME'});">exclúyase</a> y no continúe el uso de Apretaste.</p>

		<p>La última actualización de estos términos fue hecha el 19 de Febrero del 2019.</p>
	</div>
</div>