<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'TERMINOS'})">General</a></li>
			<li class="tab"><a href="#" class="active">Pizarra</a></li>
		</ul>

		<p>Con el fin de hacer la Pizarra más útil y posibilitar un uso más amigable para todo nuestro público, se imponen los siguientes términos de uso:</p>

		<ul class="collection number-list">
			<li class="collection-item avatar"><i class="number circle">1</i> No debe publicar notas con fotos o descripciones gráficas de otros sin su consentimiento de manera maliciosa llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">2</i> No debe publicar notas que revele información personal o de contacto de otros sin su consentimiento expreso, llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">3</i> No debe publicar notas en las cuales se llame a la acción para cometer actos violentos o delictivos, directa o indirectamente. Entre ellos crímenes, tráfico sexual, venta de drogas, terrorismo, etc.; llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">4</i> No debe publicar notas con contenido creado por otros sin su consentimiento informado; llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">5</i> No debe publicar notas con cualquier tipo de material que involucre directa o indirectamente a un menor de edad sin el consentimiento de sus guardianes legales; llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">6</i> No debe publicar notas con cualquier material sugestivo que involucre a menores de edad, por ejemplo, desnudos o ropa excesivamente reveladora, o poses sexualizadas; llevará a la posterior eliminación de dichas notas.</li>
			<li class="collection-item avatar"><i class="number circle">7</i> No debe publicar notas con imágenes, descripciones gráficas o dibujos animados, que se enfoquen grotescamente en actos sexuales o muestren partes íntimas pornográficamente; llevará a un llamado de atención por parte del equipo de A! y la nota será muteada (No aparecerá en la pestaña Global).</li>
			<li class="collection-item avatar"><i class="number circle">8</i> No debe publicar notas con imágenes o descripciones gráficas de sucesos moderadamente sangrientos o violentos con la intención de generar horror; llevará a un llamado de atención por parte del equipo de A! y la nota será muteada (No aparecerá en la pestaña Global).</li>
			<li class="collection-item avatar"><i class="number circle">9</i> El incumplimiento de los términos antes descritos podría conllevar al bloqueo de su cuenta indefinidamente en dependencia a la gravedad de la falta.</li>
		</ul>

		<p>Si usted está en desacuerdo con estos términos, puede mantenerse usando Apretaste, pero por favor descontinúe el uso de la Pizarra.</p>

		<p>La última actualización de estos términos fue hecha el 16 de Septiembre del 2020.</p>

		<small><p><b>Últimos cambios:</b> Primera versión de los términos de Pizarra.</p></small>
	</div>
</div>
